<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'CSS/style2.css '%}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Login</h1>
            <p>Welcome back! Please login to continue</p>
            {% if messages %}
                {% for message in messages %}
                    <script>
                        alert("{{message}}");
                    </script>
                {% endfor %}
            {% endif %}
            <form method="POST">
                 {% csrf_token %}
                        <input name="username" placeholder="Username">
                        <input name="password" type="password" placeholder="Password">
                       <a href="#">Forget Password?</a>
                       <button type="submit">Login</button>
            </form>
          
                        <p>Don't have an account?
                        <a href="{% url 'sign' %}">Sign up</a> </p>
        </div>
        <div class="right">
            <img src="{% static 'IMG/artist.png' %}" class="artist">
        </div>
    </div>
</body>
</html>